<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>所有產品</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        table {
            table-layout: fixed; /* 固定欄位寬度 */
            width: 100%; /* 使表格寬度為100% */
        }
        th, td {
            overflow: hidden; /* 隱藏溢出內容 */
            text-overflow: ellipsis; /* 使用省略號表示溢出內容 */
            white-space: nowrap; /* 不換行 */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">所有產品列表</h1>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>產品名稱</th>
                    <th>EOS 日期</th>
                    <th>GA 日期</th>
                </tr>
            </thead>
            <tbody>
                {% for product in all_data %}
                <tr>
                    <td>{{ product['IBM Product'] }}</td>
                    <td>{{ product['EOS'] }}</td>
                    <td>{{ product['GA'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/" class="btn btn-primary mt-3">返回首頁</a>
    </div>
</body>
</html>